.App {
  text-align: center;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/online-shopping-digital-technology-with-icon-blue-background-ecommerce-online-store-marketing_252172-219.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-wrapper button {
  background-color: violet;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: #000 0px 1px 5px;
}

.img-wrapper img {
  width: 70px;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  margin-left: 550px;
  border: 1px solid black;
  color: aliceblue;
  font-size: medium;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 20px;
  height: 100px;
}

.cart img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 1%;
  top: 2%;
}
